body {
 background-color: #000;
 background-image: url(http://images.amcnetworks.com/amc.com/wp-content/uploads/2016/10/TWD-retrospective-special-1920x1080.jpg);
background-repeat: no-repeat;
background-size: 100% 325%;
}

<center><h2> <%=p2_name%> Start guessing the word <%=p1_name%> picked</h2></center>
<center><h3><%=blank%></h3></center>
<br></br>
<form method="post" action="guess">

<center><input type="text" name="letter"></center>
<input type="hidden" name="player1" value="<p1_name%>">
<input type="hidden" name="player2" value="<p2_name>">
<center><input type="submit" value="Enter Guess"/></center>
</form>
