<body>
<canvas></canvas><center>
<img src="http://hangman.imasz.net/images/logo-hangman.png" alt="hangman"></center>
</center></canvas></center></canvas>
<center><b><h3><font color= red>Please enter your names.</font></b></h3></center>
<form action="player_names" method="post">
<center><b><font color= white>Player 1: <input type="text" name="player1"></font></b></center>
<div>

<center><b><font color= blue>Player 2: <input type="text" name="player2"></font></b></center>
<div>

  <center><input type="submit" value="Submit"></center>
</center>
</form>

<center>
<b><font color="red">Thanks for playing</font></b>
</body>