body{
	background-image: url(https://s-media-cache-ak0.pinimg.com/originals/a3/20/76/a3207617d0e2faee74dc20d5e2612a01.jpg);
	background-repeat: no-repeat;
	background-size: 100% 97%;
	min-width: 100%;
	min-height: 100%
}