body{
	background-image: url(https://49.media.tumblr.com/591d6c943738f5b151436605c78e009d/tumblr_o56u2l9rhW1rqg6w8o1_500.gif);
	background-repeat: no-repeat;
	background-size: 100% 97%;
	min-width: 100%;
	min-height: 100%
}
