<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body class="background">
</center><h1><font color="red">Welcome to Hangman TWD Style!<h1><center></center></h1></font>
<%=yield%>


</body>
</html>
